/* works_02 style reset */
body,
html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    overflow: hidden;
    font-family: sans-serif;
}

canvas {
    display: block;
    touch-action: none;
    /* Disable browser gestures */
}

#sound-btn {
    position: fixed;
    bottom: 40px;
    right: 40px;
    background: none;
    border: none;
    color: #2c2c2c;
    padding: 2px 4px;
    font-size: 15px;
    font-weight: 400;
    font-family: 'Montserrat', sans-serif;
    cursor: pointer;
    z-index: 1000;
    transition: all 0.2s;
}

@media (hover: hover) {
    #sound-btn:hover {
        background: #000;
        color: #fff;
    }
}

@media (max-width: 768px) {
    #sound-btn {
        bottom: 20px;
        right: 20px;
    }
}