html,
body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    /* Hide scrollbars */
    background-color: #FCFCFC;
    touch-action: none;
    /* Global prevent */
}

canvas {
    display: block;
    touch-action: none;
}